snippet interactive
	import __main__
	INTERACTIVE = not hasattr(__main__, '__file__')

snippet #!
  #!/usr/bin/env python

snippet main
  if __name__ == "__main__":
    $0

snippet mpl
  from matplotlib import pyplot as plt

snippet pth
  from pathlib import Path
